@import "normalize.css";

@font-face {
    src: url(../public/fonts/hun2.ttf);
    font-family: HUN;
}
@font-face {
    src: url(../public/fonts/hun2-cheeky.ttf);
    font-family: HUN-CHEEKY;
}
@font-face {
    src: url(../public/fonts/pfw.ttf);
    font-family: PFW;
}
@font-face {
    src: url(../public/fonts/ind.ttf);
    font-family: IND;
}
@font-face {
    font-family: "C";
    font-weight: 500;
    src: url(../public/fonts/cr.ttf);
}
@font-face {
    font-family: "C";
    font-weight: 900;
    src: url(../public/fonts/cb.ttf);
}

body {
    font-family: HUN;
    margin: 0;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    color: white;
    background-color: black;
    transition: background-color 1s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
